html, body {
    max-width: 100%;
    overflow-x: hidden;
}

p {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.unselectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Most buttons use this */
.buttonGeneric {
	height: 40px;
	border-width: 5px;
	border-radius: 10px;
	width: 250px;
	font-size: 22px;
}

#widthMessage {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 500px;
	height: 50px;
	line-height: 23px;
	background-color: #aaaaaa;
	border: 3px solid #666666;
	z-index: 999;
	display: none;
}


/* The side tab bar stuff */
#tabBar {
	position: absolute;
	right: 0px;
	top: 3%;
	width: 40px;
	height: 94%;
	border-radius: 10px 0px 0px 10px;
}

.tab {
	position: absolute;
	right: 0px;
	width: 0px;
	height: 45px;
	border-radius: 10px 0px 0px 10px;
}

.tabText {
	font-size: 22px;
	text-indent: 15px;
	line-height: 0px;
}

#versionText {
	font-size: 12px;
	position: absolute;
	bottom: -3px;
}

#tabBarText {
	font-size: 25px;
	line-height: 850px;
	padding-left: 10px;
	display: block;
}

/* The ingame second bar on the left side */
#ingameSecondBack {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 38px;
	height: 100%;
}

#ingameSecondBar {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 38px;
	height: 50%;
}

#protonTextDiv {
	position: absolute;
	top: 15px;
	left: 120px;
	width: 1318px;
	height: 80px;
	transform: skew(330deg);
	background: rgba(100, 100, 100, 0.5)
}

#protonText {
	font-size: 30px;
	text-align: center;
	margin-top: 0px;
	transform: skew(30deg);
}


/* The table */
#periodicTable {
	position: absolute;
	top: 180px;
	left: 100px;
}

.rowNumber {
	position: absolute;
	left: 60px;
	font-size: 26px;
}

th, td {
	width: 55px;
	height: 55px;
	text-align: center;
	line-height: 55px;
	font-size: 22px;
	position: absolute;
	border-radius: 5px;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 100;
    bottom: 110%;
    right: -50px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

#options {
	position: absolute;
	top: 20px;
	left: 58px;
	width: 75%;
	height: 95.5%;
	border-radius: 10px;
}

.optionsText {
	font-size: 22px;
	padding-left: 22px;
	line-height: 30px;
}

.optionsTextButton {
	background: rgba(120, 120, 120, 0.5);
	height: 30px;
}

.optionsTextButton:hover {
	background: rgba(140, 140, 140, 0.5);
}

.optionsDropdown {
	background-color: #bbbbbb;
	border: 2px solid #666666;
	margin-left: 22px;
	width: 120px;
}