body {
	background-image: url('assets/back2.jpg');
	font-family: Tahoma, Geneva, sans-serif;
}

.buttonGeneric {
	height: 40px;
	border-width: 5px;
	border-radius: 10px;
	width: 300px;
}

#widthMessage {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 500px;
	height: 50px;
	line-height: 23px;
	background-color: #aaaaaa;
	border: 3px solid #666666;
	z-index: 999;
	display: none;
}

#tabBar {
	position: absolute;
	right: 0px;
	top: 3%;
	width: 40px;
	height: 94%;
	border-radius: 10px 0px 0px 10px
}

#tabBarText {
	font-size: 25px;
	line-height: 850px;
	padding-left: 10px;
	display: block;
}

#ingameSecondBack {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 38px;
	height: 100%;
}

#ingameSecondBar {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 38px;
	height: 50%;
}

#protonText {
	font-size: 30px;
	text-align: center;
	margin-top: 60px;
}

#periodicTable {
	position: absolute;
	top: 50px;
	left: 100px;
}

.rowNumber {
	position: absolute;
	left: 60px;
	font-size: 26px;
}

th, td {
	width: 55px;
	height: 55px;
	text-align: center;
	line-height: 55px;
	font-size: 22px;
	position: absolute;
	border-radius: 5px;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 100;
  bottom: 110%;
  right: -50px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}