/* The light theme - this is the main theme */


body {
	background-image: url('assets/back2.jpg');
	color: #000000;
	font-family: Tahoma, Geneva, sans-serif;
}

.buttonGeneric {
	background-color: #aaaaaa;
	color: black;
	border-color: #444444;
}

#tabBar {
	background-color: #aaaaaa;
	border-left: 3px solid #666666;
	border-top: 3px solid #666666;
	border-bottom: 3px solid #666666;
}

.tab {
	background-image: linear-gradient(to right, #999999, #777777);
	border-left: 3px solid #666666;
	border-top: 3px solid #666666;
	border-bottom: 3px solid #666666;
}

.tab:hover {
	background-image: linear-gradient(to right, #aaaaaa, #888888);
}

.tabText {
	color: #333333;
}

#versionText {
	color: #333333;
}

#tabBarText {
	color: #666666;
}

#ingameSecondBack {
	background-color: #aaaaaa;
}

#ingameSecondBar {
	background-color: #888888;
}

th, td {
	border: 3px solid black;
	background-color: #aaaaaa;
}

th:hover, td:hover {
	background-color: #bbbbbb;
}

.affordable {
	background-color: #aaaaff;
}

.affordable:hover {
	background-color: #bbbbff;
}



/* Tooltip text */
.tooltip .tooltiptext {
  background-color: #888888;
  border: 3px solid #555555;
}